<!-- Matomo / Embedding the tracker after the load event -->
{% cspscript %}<script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    function embedTrackingCode(){
        var u="{{ external_matomo_host }}/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ external_matomo_website_id }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    }
    if (window.addEventListener){ window.addEventListener("load", embedTrackingCode, false); }
    else if (window.attachEvent){ window.attachEvent("onload", embedTrackingCode);           }
    else                        { embedTrackingCode();                                       }
</script>{% endcspscript %}
<!-- End Matomo Code -->
