<ul class="organization_collection">
    {% for organization in organization_collection %}
        <li class="organization_{{ organization.id }}">
            <a href="{{ path(
                'app_anonymous_organization_display_one_organization',
                {'id': organization.id, 'slug': organization.slug }
            ) }}">{{ organization.name }}</a>
        </li>
    {% endfor %}
</ul>