{% extends 'app_base.html.twig' %}
{% block title %}
    {{ 'tags.display_one.title'|trans({'%tag%': tag.name }) }} - {{ app_name }}
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_tags_display_all') }}">{{ 'breadcrumb.tags.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_tags_display_one_tag', { 'slug': tag.slug, 'id': tag.id }) }}"
                   aria-current="page">{{ tag.name }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'tags.display_one.h1_start'|trans }}
        <strong>{{ tag.name }}</strong>
    </h1>
    <p>
        {{ 'tags.display_one.software_count'|trans({'%count%': tag.softwares|length, '%tag%': tag.name  }) }}
    </p>


    <ul class="software_collection">
        {% for software in tag.softwares|sort((s1, s2) => s1.slug <=> s2.slug) %}
            <li class="software_{{ software.id }}">
                <a href="{{ path(
                    'app_anonymous_software_display_one_software',
                    {'id': software.id, 'slug': software.slug }
                ) }}">{{ software.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
