{% extends 'app_base.html.twig' %}

{% block title %} {{ 'tags.display_all.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_tags_display_all') }}"
                   aria-current="page">{{ 'breadcrumb.tags.list'|trans }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'tags.display_all.page.title'|trans }}
    </h1>
    <div id="tags_count">
        {{ 'tags.display_all.total_number'|trans({'%count%': tags_count }) }}
    </div>

    <ul>
        {% for tag in tags_collection %}
            <li id="tag_{{ tag.slug | replace({'.': "-"}) }}"
                class="tag_item_{{ tag.id }} badge bg-primary-subtle text-primary-emphasis rounded-pill m-1">
                <a class="tag_link"
                   href="{{ path('app_tags_display_one_tag', {'slug': tag.slug, 'id': tag.id }) }}">
                    {{ tag.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
