{% extends 'app_base.html.twig' %}

{% block title %}{{ 'user.account.head.title'|trans }} - {{ app_name }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_user_account') }}"
                   aria-current="page">{{ 'breadcrumb.user.account'|trans }}</a>
            </li>
        </ol>
    </nav>

    <h1> {{ 'user.account.page.title'|trans }} </h1>
{#    <div class="col-md-6">#}
{#        <table  class="table table-hover table-dark table-striped">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">{{ 'user.account.data-title.email'|trans }} </th>#}
{#                <th scope="col">{{ 'user.account.data-title.roles'|trans }} </th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody class="table-group-divider">#}
{#            <tr>#}
{#                <td><strong>{{ app.user.email }}</strong></td>#}
{#                <td> {{ 'common.help.comming-soon'|trans }} </td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}

    <nav>
        <ul class="icon-list ps-0">
            <li class="d-flex align-items-start mb-1">
                {{ 'user.account.link.change_account_email'|trans }}
            </li>
            <li class="d-flex align-items-start mb-1">
                <a id="user_change-password_link" href="{{ path('app_user_account_change_password') }}">
                    {{ 'user.account.link.change_password'|trans }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="col-md-12">
        <table  class="table table-sm table-borderless mt-3">
            <tr>
                <th scope="row"> {{ 'user.account.data-title.email'|trans }} </th>
                <td>    <strong id="qa_user-account_user-email">{{ app.user.email }}</strong>   </td>
            </tr>
            <tr>
                <th scope="row"> {{ 'user.account.data-title.roles'|trans }} </th>
                <td>    {{ 'common.help.comming-soon'|trans }}  </td>
            </tr>
            <tr>
                <th scope="row"> {{ 'user.account.data-title.created_at'|trans }} </th>
                <td>
                    {{ app.user.createdAt|format_datetime('full', 'short', locale=_locale) }}
                </td>
            </tr>
            <tr>
                <th scope="row"> {{ 'user.account.data-title.updated_at'|trans }} </th>
                <td>
                    {{ app.user.updatedAt|format_datetime('medium', 'short', locale=_locale) }}
                </td>
            </tr>
            <tr>
                <th scope="row"> {{ 'user.account.data-title.last_update_password'|trans }} </th>
                <td>
                    {% if app.user.lastPassowrdUpdate  is not null %}
                        {{ app.user.lastPassowrdUpdate|format_datetime('short', 'short', locale=_locale) }}
                    {% else %}
                        TODO: add message if lastPassowrdUpdate is null <br>
                        {% if app.user.updatedAt|date('U') < '2020-12-31'|date('U') %}
                            OLDER
                        {% else %}
                            NOT SO OLDER
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="debug">
        <h2>DEBUG staging <-- TODO add staging FLAG</h2>
        {% if app.user.oldComptoirId  is not null %}
            <hr>
            <small>
                {{ 'recette.debug.user.old_id'|trans }} <-- TODO add staging FLAG <br>
                <ul>
                    <li><a target="_blank" href="/fr/users/{{ app.user.oldComptoirId  }}">/fr/users/{{ app.user.oldComptoirId  }}</a></li>
                    <li><a target="_blank" href="/en/users/{{ app.user.oldComptoirId  }}">/en/users/{{ app.user.oldComptoirId  }}</a></li>
                    <li><a target="_blank" href="https://comptoir-du-libre.org/fr/users/{{ app.user.oldComptoirId  }}">https://comptoir-du-libre.org/fr/users/{{ app.user.oldComptoirId  }}</a></li>
                    <li><a target="_blank" href="https://comptoir-du-libre.org/en/users/{{ app.user.oldComptoirId  }}">https://comptoir-du-libre.org/en/users/{{ app.user.oldComptoirId  }}</a></li>
                </ul>
            </small>
        {% else %}
            NOT OLD USER
        {% endif %}
    </div>



{% endblock %}
