{% extends 'app_base.html.twig' %}
{% form_theme forgotPasswordForm 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ 'forgot_password.request.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_account_login') }}">{{ 'breadcrumb.user.login'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_account_forgot_password_request') }}"
                   aria-current="page">{{ 'breadcrumb.user.lost_password.form'|trans }}</a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ 'forgot_password.request.page.title'|trans }}
    </h1>
    <div  class="col-md-7">
        <p class="alert alert-success">
            {{ 'forgot_password.request.result'|trans }}
{#            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.#}
        </p>
        <p>
            {{ 'forgot_password.request.result.help'|trans }}
            <a href="{{ path('app_account_forgot_password_request') }}">{{ 'forgot_password.request.result.help.link'|trans }}</a>.
        </p>
    </div>
{% endblock %}
