{% extends 'app_base.html.twig' %}

{% block title %} {{ 'forgot_password.not-voalid-token.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_account_login') }}">{{ 'breadcrumb.user.login'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_account_forgot_password_request') }}">{{ 'breadcrumb.user.lost_password.form'|trans }}</a>
            </li>
        </ol>
    </nav>

    <div  class="col-md-9">
        <h1>
            {{ 'forgot_password.not-voalid-token.page.title'|trans }}
        </h1>
        <p id="error_forgot-password_not-voalid-token" class="alert alert-danger">
            {{ 'forgot_password.not-voalid-token.error_msg'|trans }}
        </p>
        <p>
            {{ 'forgot_password.not-voalid-token.call_to_action'|trans }}
            <a href="{{ path('app_account_forgot_password_request') }}">
                {{ 'forgot_password.not-voalid-token.call_to_action.link'|trans }}</a>.
        </p>
    </div>

{% endblock %}
