{% extends 'app_base.html.twig' %}
{% form_theme forgotPasswordForm 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ 'forgot_password.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_account_login') }}">{{ 'breadcrumb.user.login'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_account_forgot_password_request') }}">{{ 'breadcrumb.user.lost_password.form'|trans }}</a>
            </li>
        </ol>
    </nav>


    <div  class="col-md-7">
        <h1>
            {{ 'forgot_password.page.title'|trans }}
        </h1>
        {{ form_start(forgotPasswordForm) }}
        {{ form_widget(forgotPasswordForm) }}
        <button id="public_forgotPassword_newPasswordForm_submit" class="btn btn-primary">
            {{ 'forgot_password.form.submit'|trans|raw }}
        </button>
        {{ form_end(forgotPasswordForm) }}
    </div>

{% endblock %}
