{% extends 'app_base.html.twig' %}
{% form_theme signupForm 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ 'signup.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_account_signup_init') }}"
                   aria-current="page">{{ 'breadcrumb.user.signup'|trans }}</a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ 'signup.page.title'|trans }}
    </h1>
    <div  class="col-md-8">
{#      {{ form_start(signupForm) }}    #}
{#      {{ form_start(signupForm, {'attr': {'novalidate': 'novalidate'}}) }}    #}
        {{ form_start(signupForm) }}
            {{ form_row(signupForm.email)  }}
            <fieldset class="mt-4 mb-4 ">
                <legend class="text-xl text-bg-dark px-2">
                    {{ 'signup.form.fieldset.user.title'|trans }}
                </legend>
                {{ form_row(signupForm.login)  }}
            </fieldset>

            <fieldset class="mt-4 mb-4 ">
                <legend class="text-xl text-bg-dark px-2">
                    {{ 'signup.form.fieldset.password.title'|trans }}
                </legend>
                {{ form_row(signupForm.plainPassword)  }}
            </fieldset>

            <button id="public_signupForm_submit" class="btn btn-primary">
                {{ 'signup.form.submit'|trans|raw }}
            </button>
        {{ form_end(signupForm) }}
    </div>

{% endblock %}
