{% extends 'app_base.html.twig' %}
{% block title %} Error {{ status_code }} - {{ status_text }}{% endblock %}

{% block body %}
    <h1>Error {{ status_code }} {{ status_text }}</h1>

    <div class="col-md-8 alert alert-danger" role="alert">
        <h2>Oops, an error occurred</h2>
        <p> The server returned a <em>"{{ status_code }} {{ status_text }}"</em>. </p>
        <p> Something is broken. Please let us know what you were doing when
            this error occurred. We will fix it as soon as possible.
            Sorry for any inconvenience caused.
        </p>
    </div>
    <p>
        <a href="{{ path('app_home') }}">Return to the homepage</a>.
    </p>

{% endblock %}

