{% extends 'app_base.html.twig' %}
{% block title %} Error 404 - Page not found {% endblock %}

{% block body %}
    <h1>Error 404</h1>

    <div class="col-md-8 alert alert-danger" role="alert">
        <h2>Page not found</h2>
        <p> The requested page couldn't be located. </p>
        <p> Checkout for any URL
            misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>.
        </p>
    </div>

{% endblock %}
