<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ asset('css/vendor/bootstrap5.3.min.css') }}" rel="stylesheet">
{#    <link href="{{ asset('css/webapp-comptoir.css') }}" rel="stylesheet">#}
    {% cspstyle %}
       <style>

       .debug {
           padding: 1em;
           margin: 1em;
           border: 1px solid red;
           background: silver;
           font-size: 0.8rem
       }
       body {
           letter-spacing: 0.05em;
       }

       .breadcrumb {
           --bs-breadcrumb-divider: '>';
           --bs-breadcrumb-divider-color: silver;
       }
       .breadcrumb li a {
         /*  color: #6c757d; */
       }
       .breadcrumb li.active a {
          /** font-weight: bold; **/
       /*   text-decoration: none; */
        color: black;
    }
    a:link {
        text-decoration: none;
    }
    a:active {
        color: black;
    }
    a:hover {
        text-decoration: underline;
    }

    h2 {
        margin-top: 2rem;
    }

    .screenshot_thumbnail-list > ul.row  {
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
    }

    .screenshot_thumbnail-list > ul.row > li .col {
        padding-left: 0;
    }

    .screenshot_thumbnail-list a {
        display: block;
        width: 100%;
        height: 100%;
        padding: .25rem;
        background-color: var(--bs-body-bg);
        border: var(--bs-border-width) solid var(--bs-border-color);
    }
    .screenshot_thumbnail {
        max-height: 10em;
        width: 100%;
        margin: 0 auto;
    }

    footer#page_footer nav > ul > li > a[aria-current='page'] {
        color: black;
    }


</style>
{% endcspstyle %}


    <meta name="description" content="">
    {#
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">
    #}
</head>
<body>


    <div class="col-lg-8 mx-auto p-4 py-md-4">
        {% include "app_base_header.html.twig" %}
        <main id="main-content">
            {% include "app_base_flash_messages.html.twig" %}
            {% block body %}{% endblock %}
        </main>
        {% include "app_base_footer.html.twig" %}
    </div>

    {% if external_matomo_enabled %}
        {% include "common/app_webanalytics_matomo.html.twig" %}
    {% endif %}
</body>
</html>
