{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{# read and display several types of flash messages #}
{#            {{% for label, messages in app.flashes(['success', 'warning', 'notice', 'error']) %}#}
{#                <div class="alert alert-success">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
