<a class="visually-hidden-focusable" href="#main-content">Skip to main content</a>
<header class="d-flex align-items-center pb-3 mb-2 border-bottom">

    <a href="{{ path('app_home_i18n') }}" title="{{ 'public.link.homepage.title'|trans({'app_name': app_name}) }}">
        <img src="{{ asset('images/Logo-CDL_kranken.io-lossless.png') }}">
    </a>
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    <nav>
        <ul class="icon-list ps-0">
            <li class="d-flex align-items-start mb-1">
                <a href="{{ path('app_anonymous_software_display_all_software') }}">
                    {{ 'public.header.link.software'|trans }}
                </a>
            </li>
            <li class="d-flex align-items-start mb-1">
                Utilisateurs
            </li>
            <li class="d-flex align-items-start mb-1">
                Prestataires
            </li>
            <li class="d-flex align-items-start mb-1">
                Cartographie
            </li>
            <li class="d-flex align-items-start mb-1">
                <a href="{{ path('app_tags_display_all') }}">
                    {{ 'public.header.link.tags'|trans }}
                </a>
            </li>
        </ul>

        <ul class="icon-list ps-0">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="d-flex align-items-start mb-1 text-muted">
                    <a href="{{ path('app_user_account') }}">
                        {{ 'user.link.profile'|trans }}
                        / <strong class="connected_user_email">{{ app.user.email }}</strong> </a>
                </li>
                <li class="d-flex align-items-start mb-1">
                    <a href="{{ path('app_account_logout') }}">{{ 'user.link.logtout'|trans }}</a>
                </li>
            {% else %}
                <li class="d-flex align-items-start mb-1">
                    <a href="{{ path('app_account_signup_init') }}">
                        {{ 'public.link.signup'|trans }}
                    </a>
                </li>
                <li class="d-flex align-items-start mb-1">
                    <a href="{{ path('app_account_login') }}">
                        {{ 'public.link.login'|trans }}
                    </a>
                </li>
                {#                        <li class="d-flex align-items-start mb-1">#}
                {#                            <a href="{{ path('app_user_create-account') }}">Create an account</a>#}
                {#                        </li>#}
            {% endif %}
        </ul>
    </nav>
</header>
