{%
    set footerMainNavLinks = {
        'page_footer_link_home': {
            'route': 'app_home_i18n',
            'i18nKey': 'public.footer.link.home'
        },
        'page_footer_link_contact': {
            'route': 'app_page_contact',
            'i18nKey': 'public.footer.link.contact'
        },
        'page_footer_link_about': {
            'route': 'app_page_about',
            'i18nKey': 'public.footer.link.about'
        },
        'page_footer_link_legal': {
            'route': 'app_page_legal',
            'i18nKey': 'public.footer.link.legal'
        },
        'page_footer_link_accessibility': {
            'route': 'app_page_accessibility',
            'i18nKey': 'public.footer.link.accessibility'
        },
        'page_footer_link_opendata': {
            'route': 'app_page_opendata',
            'i18nKey': 'public.footer.link.open-data',
            'title': 'Open data - Données ouvertes du Comptoir du Libre'
        },
    }
%}

<footer id="page_footer" class="border-top mt-5 pt-2 ">
    <nav>
        <ul>
            {%  set currentRoute = app.request.attributes.get("_route") %}
            {% for key, linkData in footerMainNavLinks %}
                {% set ariaCurrentAttr = (currentRoute == linkData.route) ? 'aria-current="page"' : '' %}
                <li>
                    <a id="{{ key }}" {{ ariaCurrentAttr|raw }}
                       href="{{ path(linkData.route) }}">{{ linkData.i18nKey|trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</footer>
