{% extends 'app_base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    {% cspstyle %}
        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>
    {% endcspstyle %}
    <div class="example-wrapper">

        <h1>{{ app_name }}</h1>

        <nav>
            <ul>
                <li>
                    <a href="{{ path('app_anonymous_organization_display_all_organization') }}">
                        {{ 'public.header.link.org.all'|trans }}</a>
                    <ul>
                        <li>
                            <a href="{{ path('app_anonymous_organization_display_all_org_public_sector') }}">
                                {{ 'public.header.link.org.public_sector'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('app_anonymous_organization_display_all_org_company') }}">
                                {{ 'public.header.link.org.companies'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('app_anonymous_organization_display_all_org_no_profit') }}">
                                {{ 'public.header.link.org.no_profit'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>


        <code>
            {{ number_of_users|format_number(locale: _locale) }} utilisateurs<br>
            {{ number_of_organizations|format_number(locale: _locale) }} organisations<br>
            -> {{ number_of_org_public_sector|format_number(locale: _locale) }} administrations<br>
            -> {{ number_of_org_no_profit|format_number(locale: _locale) }} associations<br>
            -> {{ number_of_org_company|format_number(locale: _locale) }} entreprises<br>
            <br>
            {{ number_of_software }} logiciels libres<br>
            {{ number_of_screenshots }} copies d'écan<br>
            {{ number_of_tags }} tags<br>
        </code>

        <h2>
            Logiciels libres des services publics
        </h2>
        <p>
            Le <strong>Comptoir du Libre</strong> recense les <strong>logiciels libres</strong> métiers
            utiles aux services publics ainsi que leurs utilisateurs et prestataires.
        </p>
        <p>
            Plate-forme collaborative, il permet de <strong>partager</strong> vos expériences,
            <strong>trouver</strong> vos outils, et <strong>identifier</strong> vos partenaires.
        </p>
        <p>
            Ce projet est soutenu par le FEDER.
        </p>




        {% if is_granted('IS_AUTHENTICATED_FULLY') and  is_granted('ROLE_SUPERADMIN') %}
            <div class="debug">
                <h2> ADMIN </h2>
                <ul>
                    <li><a href="/sysamdin/migration/">/sysamdin/migration/</a> </li>
                    <li><a href="/health-check">/health-check</a> </li>
                    <li><a href="/admin/configuration/phpinfo">/admin/configuration/phpinfo</a> </li>
                    <li><a href="/admin/configuration/check-sending-email">/admin/configuration/check-sending-email</a> </li>
                </ul>
                <h2> DEBUG </h2>
                app_name <br> {{ app_name }}
                <br><br>  app_shortname <br> {{ app_shortname }}
                <br><br>  software_name <br> {{ software_name }}
                <br><br>  software_release <br> {{ software_release }}
                <br><br>  software_release_allow_public_display <br> {{ software_release_allow_public_display }}
                <br><br>  external_sill_hompage <br> {{ external_sill_hompage }}
                <br><br>  external_sill_software_fr_link <br> {{ external_sill_software_fr_link }}
                <br><br>  external_matomo_enabled <br> {{ external_matomo_enabled }}
                <br><br>  external_matomo_host <br> {{ external_matomo_host }}
                <br><br>  external_matomo_website_id <br> {{ external_matomo_website_id }}

                {% if app.debug %}
                    <p>Request method: {{ app.request.method }}</p>
                    <p>Application Environment: {{ app.environment }}</p>
                    <p>app.current_route: {{ app.current_route }}</p>
                {% endif %}
            </div>
        {% endif %}

    </div>

{% endblock %}
