{% extends 'app_base.html.twig' %}

{% block title %} {{ 'software.display.head.title'|trans({
    '%software%': software.name,
    '%app_name%': app_name,
}) }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_anonymous_software_display_all_software') }}">{{ 'breadcrumb.software.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ path(
                    'app_anonymous_software_display_one_software',
                    {'id': software.id, 'slug': software.slug }
                ) }}">{{ software.name }}</a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ software.name }}
    </h1>

<!--
{#    {% cspstyle %}#}
    <style>
        .size-logo-overview {
            height: 10em;
        }
        .size-logo-overview img {
            height: auto;
            max-height: 10em;
        }
    </style>
{#    {% endcspstyle %}#}
-->
    <div class="size-logo-overview">
        {% if software.logo|length > 0 %}
            <img   loading="lazy"
                   class="qa_software_logo"
                   src="/images/content/software/{{ software.id }}/logo/{{  software.logo }}"
                   alt="{{ software.name }}">
        {% else %}
            <img   loading="lazy"
                   class="qa_software_logo qa_software_logo_placeholder"
                   src="/images/placeholder_software.png"
                   alt="">
        {% endif %}
    </div>

    <div class="col-md-12 mt-5">
        <table  class="qa_table_data table table-sm table-borderless mt-3">
            <tr>
                <th scope="row"> {{ 'software.display.website_url'|trans }} </th>
                <td>
                    <a class="qa_software_website-link"
                       href="{{ software.websiteUrl }}">{{ software.websiteUrl }}</a>
                </td>
            </tr>
            <tr>
                <th scope="row">  {{ 'software.display.repository_url'|trans }}  </th>
                <td>
                    <a class="qa_software_repository-link"
                       href="{{ software.repositoryUrl }}">{{ software.repositoryUrl }}</a>
                </td>
            </tr>
            <tr>
                <th scope="row"> {{ 'software.display.license'|trans }} </th>
                <td class="qa_software_license">    {{ software.oldLicenseName }}   </td>
            </tr>
        </table>
    </div>

    {% if softwareDescription %}
        <div  class="qa_software_description">
            {{ softwareDescription.text | sanitize_html('user-data_remove_html')
                                        | markdown_to_html
                                        | sanitize_html('user-data_markdown-sanitizer') }}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and  is_granted('ROLE_SUPERADMIN') %}
            <!-- ///// DEBUG - markdown_to_html + sanitize_html ////////////////////////////////////////////// -->
            <div class="debug">
                <h6>  nl2br </h6>
                {{ softwareDescription.text | nl2br }}
            </div>
            <div class="debug">
                <h6> markdown_to_html
                    <br> | sanitize_html()  </h6>
                {{ softwareDescription.text | markdown_to_html | sanitize_html() }}
            </div>
            <div class="debug">
                <h6> markdown_to_html
                    <br> | sanitize_html('user-data_markdown-sanitizer')  </h6>
                {{ softwareDescription.text | markdown_to_html | sanitize_html('user-data_markdown-sanitizer') }}
            </div>
            <div class="debug">
                <h6> sanitize_html('user-data_remove_html')
                    <br> | markdown_to_html
                    <br> | sanitize_html('user-data_markdown-sanitizer')  </h6>
                {{ softwareDescription.text | sanitize_html('user-data_remove_html')
                | markdown_to_html
                | sanitize_html('user-data_markdown-sanitizer') }}
            </div>

            <!-- ///// DEBUG END - markdown_to_html + sanitize_html ////////////////////////////////////////////// -->
        {% endif %}
    {% endif %}

    <div class="col-md-8 mt-5">
        <details>
            <summary>{{ 'software.display.publishing_info.summary'|trans }}</summary>
            <table  class="qa_table_data table table-sm table-bordered mt-3">
                <tr>
                    <th scope="row"> {{ 'software.display.publishing_info.created_at'|trans }} </th>
                    <td>
                        {{ software.createdAt|format_datetime('full', 'short', locale=_locale) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row"> {{ 'software.display.publishing_info.updated_at'|trans }} </th>
                    <td>
                        {{ software.updatedAt|format_datetime('full', 'short', locale=_locale) }}
                    </td>
                </tr>
            </table>
        </details>
    </div>



    <!-- TAGS ------------------------------------------------------------- -->
    {% if software.tags|length > 0 %}
        <hr>
        {{ 'software.display.tags_collection'|trans }}
        <ul class="tags_collection">
            {% for tag in software.tags %}
                <li class="tag_item_{{ tag.id }}  badge bg-primary-subtle text-primary-emphasis rounded-pill">
                    <a href="{{ path('app_tags_display_one_tag', {'slug': tag.slug, 'id': tag.id }) }}">
                        {{ tag.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- SCREENSHOTS ------------------------------------------------------------- -->
    {% if screenshots|length > 0 %}
        <h2>
            {{ 'software.display.screenshots.title'|trans({'%software%': software.name,}) }}
        </h2>
        <div class="container screenshot_thumbnail-list " >
            <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for screenshot in screenshots %}
                    <li class="col">
                        <a href="/images/content/software/{{ software.id }}/screenshots/{{  screenshot.fileName }}">
                            <img   loading="lazy"
                                   class="card-img-top screenshot_thumbnail"
                                   src="/images/content/software/{{ software.id }}/screenshots/{{  screenshot.fileName }}"
                                   alt="screenshot {{  screenshot.fileName }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


{% endblock %}
