{% extends 'app_base.html.twig' %}

{% block title %} {{ 'software.display_all.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_anonymous_software_display_all_software') }}"
                   aria-current="page">{{ 'breadcrumb.software.list'|trans }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'software.display_all.page.title'|trans }}
    </h1>
    {{ 'software.display_all.total_number'|trans({'%count%': software_count|format_number(locale: _locale) }) }}
    <ul class="software_collection">
    {% for software in software_collection %}
        <li class="software_{{ software.id }}">
            <a href="{{ path(
                'app_anonymous_software_display_one_software',
                {'id': software.id, 'slug': software.slug }
            ) }}">{{ software.name }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
