{% extends 'app_base.html.twig' %}
{% block title %}
    {{ 'licenses.display_one.title'|trans({'%license%': license.spdx }) }} - {{ app_name }}
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_anonymous_licenses_display_all') }}">{{ 'breadcrumb.licenses.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_anonymous_licenses_display_one_license', { 'slug': license.slug }) }}"
                   aria-current="page">{{ license.spdx }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'licenses.display_one.h1_start'|trans }}
        <strong>{{ license.spdx }}</strong>
    </h1>
    <table  class="table table-hover table-striped">
        <tbody class="table-group-divider">
        <tr>
            <th class="w-25" scope="row">License name</th>
            <td class="license_full_name"> {{ license.name }} </td>
        </tr>
        <tr>
            <th scope="row">SPDX short identifier</th>
            <td class="license_spdx_id"> {{ license.spdx }} </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
