{% extends 'app_base.html.twig' %}

{% block title %} {{ 'licenses.display_all.head.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_anonymous_licenses_display_all') }}"
                   aria-current="page">{{ 'breadcrumb.licenses.list'|trans }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'licenses.display_all.page.title'|trans }}
    </h1>
    <div id="licences_count">
        {{ 'licenses.display_all.total_number'|trans({'%count%': licenses_count }) }}
    </div>
    <ul>
        {% for license in licenses_collection %}
            <li id="licence_{{ license.slug | replace({'.': "-"}) }}">
                <a class="license_link" href="{{ path(
                    'app_anonymous_licenses_display_one_license',
                    {'slug': license.slug }
                ) }}">{{ license.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
