{% extends 'app_base.html.twig' %}
{% block title %}{{ 'public.page.about.title'|trans }} - {{ app_name }}{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{{ path('app_page_about') }}"
           aria-current="page">{{ 'breadcrumb.page.about'|trans }}</a>
      </li>
    </ol>
  </nav>

  {%  set currentRoute = app.request.attributes.get("_route") %}
  {% apply markdown_to_html %}
    {% include 'public_static_pages/' ~ _locale ~ '/' ~ currentRoute ~ '.md' ignore missing %}
  {% endapply %}

{% endblock %}
