{% extends 'app_base.html.twig' %}

{% block title %} {{ 'organization.display.head.title'|trans({
    '%organization%': organization.name,
    '%app_name%': app_name,
}) }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">
                    {{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_anonymous_organization_display_all_organization') }}">
                    {{ 'breadcrumb.organization.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path("app_anonymous_organization_display_all_org_#{organization_type}") }}">
                    {{ "breadcrumb.org.#{organization_type}.list"|trans }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ path(
                    'app_anonymous_organization_display_one_organization',
                    {'id': organization.id, 'slug': organization.slug }
                ) }}">{{ organization.name }}</a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ organization.name }}
    </h1>

<!--
{#    {% cspstyle %}#}
    <style>
        .size-logo-overview {
            height: 10em;
        }
        .size-logo-overview img {
            height: auto;
            max-height: 10em;
        }
    </style>
{#    {% endcspstyle %}#}
-->
    <div class="size-logo-overview">
        {% if organization.logo|length > 0 %}
            <img   loading="lazy"
                   class="qa_organization_logo"
                   src="/images/content/organization/{{ organization.id }}/logo/{{  organization.logo }}"
                   alt="{{ organization.name }}">
        {% else %}
            <img   loading="lazy"
                   class="qa_organization_logo qa_organization_logo_placeholder"
                   src="/images/placeholder_organization.png"
                   alt="">
        {% endif %}
    </div>
    <p>
        {{ 'organization.display.website_url'|trans }} <a class="qa_organization_website-link"
                                                          href="{{ organization.website }}">{{ organization.website }}</a>
    </p>

    {% if organizationDescription %}
        <div  class="qa_organization_description">
            {{ organizationDescription.text | sanitize_html('user-data_remove_html')
                                        | markdown_to_html
                                        | sanitize_html('user-data_markdown-sanitizer') }}
        </div>
    {% endif %}

    <div class="col-md-8 mt-5">
        <details>
            <summary>{{ 'organization.display.publishing_info.summary'|trans }}</summary>
            <table  class="qa_table_data table table-sm table-borderless mt-3">
                <tr>
                    <th scope="row"> {{ 'organization.display.publishing_info.created_at'|trans }} </th>
                    <td>
                        {{ organization.createdAt|format_datetime('full', 'short', locale=_locale) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row"> {{ 'organization.display.publishing_info.updated_at'|trans }} </th>
                    <td>
                        {{ organization.updatedAt|format_datetime('full', 'short', locale=_locale) }}
                    </td>
                </tr>
            </table>
        </details>
    </div>


{% endblock %}
