{% extends 'app_base.html.twig' %}

{% block title %} {{ "org.#{organization_type}.display_all.head.title"|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_anonymous_organization_display_all_organization') }}"
                   aria-current="page">{{ 'breadcrumb.organization.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_anonymous_organization_display_all_org_company') }}"
                   aria-current="page">{{ "breadcrumb.org.#{organization_type}.list"|trans }}</a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ "org.#{organization_type}.display_all.page.title"|trans }}
    </h1>
    <p>
        {{ "org.#{organization_type}.display_all.total_number"
            |trans({'%count%': organization_collection|length|format_number(locale: _locale) })
            |raw }}
    </p>
    {% include "common/organizations_list.html.twig" %}

{% endblock %}
