{% extends 'app_base.html.twig' %}

{% block title %} {{ 'org.display_allhead.title'|trans }} - {{ app_name }}{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home_i18n') }}">{{ 'breadcrumb.homepage'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('app_anonymous_organization_display_all_organization') }}"
                   aria-current="page">{{ 'breadcrumb.organization.list'|trans }}</a>
            </li>
        </ol>
    </nav>
    <h1>
        {{ 'org.display_allpage.title'|trans }}
    </h1>

    <p>
        {{ 'org.display_alltotal_number'
            |trans({'%count%': organization_collection|length|format_number(locale: _locale) }) |raw }}
    </p>
    {% include "common/organizations_list.html.twig" %}

{% endblock %}
